<app-page-title title="Ajouter un restaurant" breadcrumb="true"></app-page-title>

<div class="page-content">

    <mat-card class="form-card">
        <mat-card-content>
            <form class="form" [formGroup]="addFormRestaurant">
                <h3>Restaurant</h3>
                <!-- Nom -->
                <mat-form-field>
                    <mat-label>Nom du restaurant</mat-label>
                    <input type="text" matInput formControlName="nom" />
                    <mat-error *ngIf="addFormRestaurant.controls.nom.hasError('required')">
                        Le champ nom est requis.
                    </mat-error>
                </mat-form-field>

                <!-- Description -->
                <mat-form-field>
                    <mat-label>Description du restaurant</mat-label>
                    <input type="text" matInput formControlName="description" />
                    <mat-error *ngIf="addFormRestaurant.controls.description.hasError('required')">
                        Le champ description est requis.
                    </mat-error>
                </mat-form-field>
            </form>

            <form class="form" [formGroup]="addFormPhoto">
                <h3>Photo</h3>
                <mat-form-field>
                    <mat-label>Nom de la photo</mat-label>
                    <input type="text" matInput formControlName="name" />
                    <mat-error *ngIf="addFormPhoto.controls.name.hasError('required')">
                        Le champ nom est requis.
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Photo</mat-label>
                    <ngx-mat-file-input matInput formControlName="photo" placeholder="Choissiser votre photo"
                        (change)="handleUpload($event)">
                    </ngx-mat-file-input>
                    <mat-icon matSuffix>folder</mat-icon>
                    <mat-error *ngIf="addFormPhoto.controls.photo.hasError('required')">
                        Choissiser une photo
                    </mat-error>
                    <mat-error *ngIf="addFormPhoto.controls.photo.hasError('maxContentSize')">
                        The total size must not exceed 40ko
                    </mat-error>
                </mat-form-field>

                <!-- Description -->
                <mat-form-field>
                    <mat-label>Description de la photo</mat-label>
                    <input type="text" matInput formControlName="commentaire" />
                    <mat-error *ngIf="addFormPhoto.controls.commentaire.hasError('required')">
                        Le champ description est requis.
                    </mat-error>
                </mat-form-field>
            </form>
            <!-- Photo 

                <mat-form-field>
                    <mat-label>Photo</mat-label>
                    <input type="file" #fileupload matInput formControlName="photo"
                        (change)="getBase64(fileupload.files)" />
                    <mat-error *ngIf="addForm.controls.photo.hasError('required')">
                        Le champ photo est requis.
                    </mat-error>
                </mat-form-field>-->

        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button color="primary" (click)="saveRestaurant()">Ajouter</button>
            <button mat-flat-button routerLink="/gestionRestaurant">Annuler</button>
        </mat-card-actions>
    </mat-card>

</div>