.page-content {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .form-card {
    width: 100%;
    max-width: 600px;
    padding: 50px;
    margin-top: 50px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  