<app-page-title title="Restaurants" [breadcrumb]="breadcrumb"></app-page-title>

<div class="table-toolbar">
    <button mat-mini-fab class="success" aria-label="Ajouter un restaurant" matTooltip="Ajouter un restaurant"
        matTooltipPosition="above" [routerLink]="['ajouterRestaurant']">
        <mat-icon svgIcon="plus"></mat-icon>
    </button>
    <span class="spacer"></span>
    <app-search-restaurant-field></app-search-restaurant-field>
</div>

<div class="table-paginator-container">
    <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort>

            <ng-container></ng-container>

            <!-- Colonne Nom -->
            <ng-container matColumnDef="nom">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <h3>Nom</h3>
                </th>
                <td mat-cell *matCellDef="let element">{{element.nom}}</td>
            </ng-container>

            <!-- Colonne Description -->
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <h3>Description</h3>
                </th>
                <td mat-cell *matCellDef="let element">{{element.description}}</td>
            </ng-container>

            <!-- Colonne Photo -->
            <ng-container matColumnDef="photo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <h3>Photo</h3>
                </th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="!getShowWithId(element.id); else Show">
                        <button mat-button color="primary" (click)="showPhoto(element.id)">Voir la photo</button>
                    </div>
                    <ng-template #Show>
                        <img (click)="showPhoto(element.id)" [src]="getImage(element.photo.photo)" />
                    </ng-template>
                </td>
            </ng-container>

            <!-- Colonne actions -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>
                    <h3>Actions</h3>
                </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button aria-label="Actions" [routerLink]="['/personnes', element.id]">
                        <mat-icon>assignment_ind</mat-icon>
                    </button>
                    <button mat-icon-button aria-label=" Actions" [routerLink]="['/personnes/editer', element.id]">
                        <mat-icon>create</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Actions">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>

            <!-- Colonne aucune données trouvées. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="8">Aucune données disponibles...</td>
            </tr>
        </table>
    </div>
    <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
</div>