<div class="container" *ngIf="currentUser; else loggedOut">
  <div class="page-content">
    <mat-card-content>
      <p>
        <strong>Pseudo : </strong>
        <strong>{{ currentUser.username }}</strong>
      </p>
      <p>
        <strong>Nom : </strong>
        {{ currentUser.nom }}
      </p>
      <p>
        <strong>Prénom : </strong>
        {{ currentUser.prenom }}
      </p>
      <p>
        <strong>Email : </strong>
        {{ currentUser.email }}
      </p>
      <p>
        <strong>Telephone : </strong>
        {{ currentUser.telephone }}
      </p>
      <p>
        <strong>Adresse : </strong>
        {{ currentUser.adresse }}
      </p>

      <strong>Votre Role : </strong>
      <ul>
        <li *ngFor="let role of currentUser.roles">
          {{ role }}
        </li>
      </ul>
    </mat-card-content>
  </div>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>