@import '~@angular/material/theming';
@include mat-core();

$UberProjet-primary: mat-palette($mat-indigo);
$UberProjet-accent: mat-palette($mat-orange, A200, A100, A400);
$UberProjet-warn: mat-palette($mat-red);

$UberProjet-theme: mat-light-theme(
  (
    color: (
      primary: $UberProjet-primary,
      accent: $UberProjet-accent,
      warn: $UberProjet-warn
    )
  )
);

@include angular-material-theme($UberProjet-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Source Sans Pro, 'Helvetica Neue', sans-serif;
}

.spacer {
  flex: 1 1 auto;
}
