<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="plats d-block d-md-flex">
                <div class="plat col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12" *ngFor="let plat of plats" [colspan]="1"
                    [rowspan]="1">
                    <div class="infos">
                        <div class="image">
                            <img id="myimage" [src]="getImage(plat.photo.photo)" />
                        </div>

                        <div class="nom">
                            {{plat.nom}}
                        </div>

                        <div class="description">
                            {{plat.description}}
                        </div>

                        <div class="prix">
                            <p>Prix du menu : {{plat.prix}} €</p>
                        </div>
                    </div>

                    <div class="ajouter" *ngIf="show; else notShow">
                        <!-- <mat-card-actions> 
                                    <button mat-button>LIKE</button>
                                    <button mat-button>SHARE</button>
                                </mat-card-actions> -->
                        <button mat-button color="primary"
                            (click)="addPlatToPanier(this.currentUser.id, plat.id)">Ajouter au panier</button>
                    </div>
                    <ng-template #notShow>
                    </ng-template>

                </div>
            </div>
        </div>
    </div>

    <app-commentaire></app-commentaire>
</div>





<!-- <mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> 
    <mat-card-content>
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
        </p>
    </mat-card-content>
    <mat-card-actions> 
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions> 
</mat-card>-->